$white: #ffffff;
$black-font: #151819;
$red-font: red;
$primary-color: #00b0b3;
$main-grey-colour: #9ba6aa;
$sub-grey-colour: #e7ecef;
$light-grey-colour: #bfc9cf;
$space-colour: #4f5a60;
$white-colour: #ffffff;
$pepper-colour: #818a91;
$gold-color: #dfc584;
